{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
<main>
    <div class="container">
        <p class="flex">App</p>
    </div>
</main>
{% endblock %}
