{% extends 'base.html.twig' %}

{% block title %}CBC WEB APP{% endblock %}

{% block body %}
<main>
    <div class="container flex">
        <img src={{asset('img/cropped-logo-cbc.png')}} alt="logo du CBC">
    </div>
    <div class="container">
        <h1 class="flex">CBC WEB APP</h1>
    </div>
</main>
{% endblock %}
